@charset "UTF-8";html,body{height:100%;}

@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

/* body{display:flex;align-items:center;justify-content:center;margin:0;background-image:url(../images/photo-1579546929518-9e396f3cc809.jfif);background-repeat:no-repeat;background-size:cover;} */
body{display:flex;align-items:center;justify-content:center;margin:0;background-image:url(https://images.pexels.com/photos/5717479/pexels-photo-5717479.jpeg?cs=srgb&dl=pexels-polina-kovaleva-5717479.jpg&fm=jpg);background-repeat:no-repeat;background-size:cover;}
.skip{position:absolute;width:1px;height:1px;line-height:0;overflow:hidden;}
.container{height:100%; background-color:#ffffff; box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}
.container.box{max-width: 820px;height:auto;min-height:95vh;border-top: 20px solid #362712;border-bottom: 20px solid #362712;}
.container h1{padding:0.9em 0;font-family:"Wittgenstein", serif;font-weight:bold;text-align:center;}
.task-area{margin-top:1em;border:1px solid #d3d3d3;border-bottom: 0;}

/*탭 구분*/
.task-tabs{display:flex;position:relative;border-bottom: 3px dotted lightgrey;background-color:#ffffff;}
.task-tabs div{padding:1em 23px 1em 22px;cursor:pointer;}

#under-line{position:absolute;top: 54px;left:0;width:80px;height:4px;padding:0;background-color:#535456; transition:all 0.3s ease-in;}
.task{display:flex;position: relative;align-items:center;padding:1em;background-color:#ffffff;justify-content:space-between;}
.task.false{background-color:#eaeaea;}
.task + .task{border-top:1px solid #cfc9c9;}
.task:last-child{border-bottom:1px solid #cfc9c9;}
.task-done{text-decoration:line-through;}
.input-area{font-size:0;}
.input-area .form-control{display:inline-block;width: calc(93% - -4px);vertical-align:middle;border-radius:19px;border: 3px solid #b6b9bf;}
.container{overflow:hidden; position:relative; z-index:1; width:100%; height:100vh; background-color:#ffffff;}
/* .container::before{opacity:0.1; position:absolute; top:0; left:0; z-index:-1; width:100%; height:100%; background-image:url(https://i.ytimg.com/vi/MirxtwvlaQI/sddefault.jpg); background-repeat:no-repeat; background-size:cover; content:"";} */

[id="add-button"]{margin-left: 5px;border: 1px solid #6b5233;background-color: #6b5233;border-radius:50%;}
[id="add-button"]:hover,[id="add-button"]:focus{border: 1px solid #443017;background-color: #443017;}

.btn-secondary:hover,.btn-secondary:focus{background-color:#57595c;}

/* line-through */
.task.false .line_el{position:relative;text-decoration:line-through;}
.task.false .line_el:before{display:block;position: absolute;top:12px;left:0;content:'';width:100%;height:1px;background-color:#57595c;}

/* buttons */
.task button.false{border:1px solid #c3c6d1;background-color:#c3c6d1}
.task button.true{border:1px solid #fab005;background-color:#fab005;}

#footer{position:absolute;bottom:0;left:50%;margin:0;padding:1em 0;transform:translateX(-50%);font-size:12px;}

@media all and (max-width:1400px){
  .input-area .form-control{width:94%;}
}
@media all and (max-width:1200px){
  .input-area .form-control{width:94%;}
}
@media screen and (max-width:991px){
  .input-area .form-control{width:92%;}
}
@media screen and (max-width:767px){
  .input-area .form-control{width:91%;}
}

